.form-field label {
  display: flex;
  align-items: center;
}
.form-field label > input {
  margin-left: 1em;
}
.form-field fieldset {
  display: flex;
  border: none;
  padding: 0;
}
input[type='radio'] {
  margin-right: 1em;
}
